@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: "light";
    src: url(../futura/FUTURA45LIGHT.TTF) format("woff2");
  }
  @font-face {
    font-family: "regular";
    src: url(../futura/FUTURA55REGULAR.TTF) format("woff2");
  }
  @font-face {
    font-family: "medium";
    src: url(../futura/FUTURA65MEDIUM.TTF) format("woff2");
  }
  @font-face {
    font-family: "bold";
    src: url(../futura/FUTURA75BOLD.TTF) format("woff2");
  }
}

/* Custom scrollbar styles */
.items::-webkit-scrollbar {
  height: 4px;  /* Height of horizontal scrollbar */
}

.items::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  border-radius: 10px;
}

.items::-webkit-scrollbar-thumb {
  background-color: rgb(241, 87, 0); /* Color of the scrollbar thumb */
  border-radius: 10px;    /* Roundness of the scrollbar thumb */
  transition: background-color 0.3s ease, width 0.3s ease;
}

/* Optional: for scrollbar corner (where horizontal and vertical scrollbars meet) */
.items::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.items::-webkit-scrollbar-track-piece:end {
  /* background: transparent; */
  margin-right: 510px; 
  border: 2px solid #d5d5d5;
  border-radius: 10px;
}

.items::-webkit-scrollbar-track-piece:start {
  /* background: transparent; */
  margin-left: 510px;
  border: 2px solid #d5d5d5;
  border-radius: 10px;
}

@keyframes slideInLeft {
  0%  { transform: translateX(-100%); opacity: 1 }
  100%{ transform: translateX(0); opacity: 1}
}
@keyframes slideInRight{
  0%  { transform: translateX(0); opacity: 1 }
  100%{ transform: translateX(-100%); opacity: 1}
}

@keyframes slideInLeft2 {
  0%  { transform: translateX(100%); opacity: 1 }
  100%{ transform: translateX(0); opacity: 1}
}
@keyframes slideInRight2{
  0%  { transform: translateX(0); opacity: 1 }
  100%{ transform: translateX(100%); opacity: 1}
}

.lg{
  border-radius: 34px;
  border-top-left-radius:0;
  border-top-right-radius: 0;
  background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
}

.container {
  /* width: 200px;               Specify a fixed width */
  /* height: 3em;   
               Height to accommodate two lines based on line-height */
  overflow: hidden;           /* Hide the overflowed text */
  text-overflow: ellipsis;    /* Display ellipsis (...) for overflowed text */
  display: -webkit-box;       /* Enable flexbox for WebKit browsers */
  -webkit-box-orient: vertical; /* Set vertical orientation for the box */
  -webkit-line-clamp: 2;      /* Limit the text to two lines */
  line-height: 1.5;           /* Set line height */
  /* max-height: 3em;            Limit the maximum height to two lines */
}

.hide::-webkit-scrollbar {
  display: none;
}
